/* tabs */
.tabs,
.tab-list,
.tab-list-item,
.tab-content-list,
.tab-content-list-inner,
.tab-content-list-item,

/* list */
.list,
.list-content,
.list-item,

/* siwpeable-views */
.swipeable-view,
.swipeable-view-content,
.swipeable-view-background,

/* icon */
.icon,

/* buttons */
.flat-button,
.floating-button,
.icon-button
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-callout: none;
  user-select: none;
  font-size: inherit;
}
